<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>List students clss</title>
</head>
<body>
     <div class="container-sm">
         {% for value in nameMatter%}
        <h1>Lista de esdudiantes inscritos en {{value.name_lessons}}</h1>
         {%endfor%}
       {% for value in list%}
          <a href="/students/{{value.id}}" class="list-group-item list-group-item-action">{{value}}</a>
       {%endfor%}
         <a href="/lessons" class="btn btn-primary active" aria-current="page">Regresar a la lista</a>
         <a href="/home" class="btn btn-primary active" aria-current="page">Regresar a inicio</a>
     </div>

</body>
</html>